/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: justify;
  color: #000000;
}

ul.nav{
	font-family: 'Oswald', sans-serif;
    font-size: 13px;
    text-align: right;
}

ul.nav a {
	text-transform: uppercase;
}

hr {
	border-top: 1px solid #ff3300;
/* 	width: 737px; */
	width: 65%;
	margin-bottom: 50px;
}

h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

h1 {
    color: white;
    text-align: center;
    background-color: #ff3300;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
}

h2 {
	font-size: 30px;
	text-align: center;
	color: #ff3300;
}

h5 {
	text-align: center;
}

a, a:visited {
	color: #ff3300;
	font-weight: bold;
}

a:hover, a:active, a:active:focus {
	color: #ff3300;
	text-decoration: none;
	opacity: 0.8;
}

footer {
    background-color: #ff3300;
    padding-top: 150px;
    padding-bottom: 30px;
}

p.tag {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 14px;
    color: grey;
    margin-top: 15px;
}

p.byline {
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    font-size: 14px;
    color: grey;
    margin-top: 15px;
}

#posts {
	background: #080808;
	padding-top: 50px;
	margin-bottom: 0;
}

#who {
	padding-top: 50px;
	margin-bottom: 0;
}

#sections {
	padding-top: 50px;
	background-color: #dddddd;
	background-image: url('../images/cardcat.jpg');
	/*background-image: url('../images/originals/boston-592192.jpg');
	background-size: contain;*/
	background-attachment: fixed;
}

.footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    color: #ffffff;
}

.high {
    color: #ff3300;
    font-weight: bold;
}

.jumbotron {
	text-align: center;
    background-image: url('../images/wallpaper-342606.jpg');
    background-size: 1920px;
    color: white;
    margin-bottom: 0px;
    background-attachment: fixed;
    /*padding-top:360px;*/
}

.jumbotron#PJintro {
	background-image: url('../images/PJatFenwayGreenMonster2a.jpg');
	background-position: center;
	background-position-y: -100px;
	background-attachment: fixed;
}

.jumbotron#SWLT {
	background-image: url('../images/swlt03.jpg');
	background-attachment: fixed;
}

.jumbotron#music {
	background-image: url('../images/music02.jpg');
	background-attachment: fixed;
}

.jumbotron#comics {
    background-image: url('../images/comics01.jpg');
    background-attachment: fixed;
    max-width: 100%;
/*     background-position-y: 25px; */
}

.jumbotron#writing {
    background-image: url('../images/writing01.jpg');
    background-attachment: fixed;
}

.mainBanner h1 {
	padding: 0px;
    margin: -50px 0px 50px 0px;
    background-color: transparent;
}

.jumbotron img {
	max-width: 100%;
    padding: 8.8%;
}

.sec {
	border: 1px, hidden;
	padding-bottom: 80px;
	background-color: rgba(221, 221, 221, 0.7);
	margin-bottom: 50px;
	max-height: 220px;
}

.sec#music, .sec#writing {
    border-radius: 140px 0px;
}

.sec#comics {
    border-radius: 0px 140px;
}

img.secRight {
	float: left;
    max-width: 220px;
    border-top-left-radius: 50%;
}

img.secLeft {
	float: right;
    max-width: 220px;
    border-top-right-radius: 50%;
}

.textRight {
	margin-left: 240px;
	padding-top: 20px;
}

.textLeft {
	margin-right: 240px;
	padding-top: 20px;
}

.textLeft p {
	text-align: right;
}

.homepage, .text {
	padding-top: 30px;
	padding-bottom: 30px;
}

.subpage {
    background-color: #dddddd;
}

.text {
    padding: 40px 100px;
    background-color: #ffffff;
    box-shadow: 2px 0px 10px #bbbbbb;
    margin-top: -10px;
}

.text h3 {
    margin-bottom: 50px;
	line-height: 1.414213562373095em;
}

.text h4 {
    font-size: 18px;
    color: #ff3300;
    margin-top: 1.5em;
}

.text p {
    margin-bottom: 1em;
	text-align: justify;
}

.text ol, ul {
	margin-top: -10px;
    margin-bottom: 20px;
    text-align: left;
}

.text blockquote {
    background-color: rgba(0, 65, 158, 0.2);
    font-size: 15px;
    margin-right: 50%;
    box-shadow: 2px 2px 5px #EEE;
    border-left: 5px solid #00659e;
}

.cat h3 {
    margin-bottom: 0.75em;
    margin-top: 2em;
}

.cat p a:visited {
    color: #ff3300;
}

.cat h3 a, h3 a:hover, h3 a:visited {
    color: black;
    font-weight: normal;
}

.posts {
    background: #080808;
    padding-top: 50px;
    box-shadow: none;
}

.homepage h1 {
	color: #ff3300;
	background-color: inherit;
	font-size: 30px;
	text-align: center;
	padding: 0px;
	margin-top: 0px;
}

.homepage h2 {
	font-size: 26px;
    color: #ffffff;
    margin-top: -20px;
    margin-bottom: 30px;
    background-color: #ff3300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.textRight h2 {
	text-align: center;
    margin-bottom: 10px;
    padding-right: 220px;
    margin-left: -130px;
    padding-left: 110px;
}

.textLeft h2 {
	text-align: center;
    margin-bottom: 10px;
    padding-left: 220px;
    margin-right: -130px;
    padding-right: 110px;
}

.posts {
	background-color: #080808;
	padding-top: 50px;
	box-shadow: none;
}

.homepage p {
	font-size: 20px;
}

.caption h2 {
	font-size: 26px;
	text-align: center;
	padding-top: 24px;
	color: #ff3300;
	background-color: inherit;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 0px;
}

.caption h3 {
	font-family: 'Oswald Light', sans-serif;
	font-size: 18px;
	text-align: center;
	color: grey;
	text-transform: none;
	margin-top: 0px;
}

.caption p {
	font-size: 16px;
	margin-top: 30px;
}

.caption a {
	font-weight: normal;
}

.btn-primary {
	background-color: #ff3300;
	border-color: #ff3300;
}

.btn-primary:hover {
	background-color: #ff3300;
	border-color: #ff3300;
	opacity: 0.7;
}

.btn-primary:active, .btn-primary:active:focus {
	background-color: #ff3300;
	border-color: #ff3300;
	opacity: 0.8;
}

a.btn:visited, a.btn-primary:visited {
    color: white;
}

.item.active {
	height: 400px;
}

/* .imgR {
    float: right;
    margin: 0em 0em 1em 2em;
} */

.imgC {
    display: block;
    margin: 2em auto 0 auto;
    max-width: 100%;
}

div.capR {
    float: right;
    max-width: 30%;
    margin: 0em 0em 0em 2em;
}

.capR img {
	max-width: 100%;
}

.cap p, .capR p {
    text-align: center;
    margin: -10px 0em 2em 2em;
    font-size: 11px;
}

.capR p {
    margin: 5px 0em 1em 0em;
	text-align: justify;
}

.overlay {
    position: relative;
	margin-bottom: 50px;
	border: 1px solid #bbbbbb;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
	font-family: 'Oswald';
    font-size: 28px;
	font-weight: bold;
	text-align: right;
    text-transform: uppercase;
    line-height: 1.1em;
    border: 2px solid #ff3300;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.1);
}

.overlay img {
    width: 100%;
    height: auto;
    opacity: 0.5;
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%);
}

/* Popover */
.popover {
	border: none;
}
/* Popover Header */
.popover-title {
	background-color: #ff3300;
	color: #FFFFFF;
	font-size: 20px;
	text-align: left;
}

h3.popover-title {
	margin-bottom: 0;
}

/* Popover Body */
.popover-content {
	background-color: rgba(221, 221, 221, 0.7);
	color: #000000;
	padding: 10px;
}
/* Popover Arrow */
.arrow {
	border-right-color: #ffffff !important;
}


<!-- MEDIA QUERIES -->
<!-- @media (max-width: 600px) {
		.sec {
			border: 1px solid transparent;
			max-height: 100%
		}

    	.sec#music, .sec#comics, .sec#writing {
    		max-width: 400px;
    		margin-left: auto;
    		margin-right: auto;
    		padding-bottom: 6%;
    		border-radius: 4px;
			max-height: 100%;
    	}

    	img.secRight, img.secLeft {
    		float:none;
    		border-radius: 4px 4px 0px 0px;;
    		max-width: 100%;
    	}

    	.textRight {
    		margin-left: 0;
    	}

    	.textLeft {
    		margin-right: 0;
    	}

    	.textRight h2 {
    		padding-left: 0px;
		    padding-right: 0px;
		    margin-left: 0px;
    	}

    	.textRight p {
    		padding-left: 10px;
    		padding-right: 10px;
    		text-align: justify;
    	}

    	.textLeft h2 {
    		padding-left: 0px;
		    padding-right: 0px;
		    margin-right: 0px;
    	}

    	.textLeft p {
    		text-align: justify;
    		padding-left: 10px;
		    padding-right: 10px;
    	}

	    .imgR {
            max-width: 100%;
        }
	
		.text {
			padding: 40px 1.5em;
			font-size: 14px
		}
	
		div.capR {
			float: none;
			display: block;
			margin: 1em auto;
			max-width: 75%
		}
	
		.text blockquote {
 	  	 	margin-right: 0;
			font-size: 12px;
		}
	
		h1 {
			font-size: 32px;
		}
	
		h2 {
			font-size: 26px;
		}
	
		h3 {
			margin-bottom: 20px;
			font-size: 20px;
		}
	
		hr {
		margin-bottom: 20px;
		}
}-->

@media (max-width: 800px) {
	.text blockquote {
		margin-right: 0;
	}
}

@media (max-width: 600px) {
		h1 {
			font-size: 28px;	
		}
	
		h2 {
			font-size: 22px;
		}
	
		h3 {
			font-size: 15px;
			margin-bottom:20px;
		}
	
		.text {
			padding: 40px 1.5em;
			font-size: 14px;
		}
	
		.text blockquote {
			margin-right: 0;
			font-size: 12px;
		}
	
		.sec#music, .sec#comics, .sec#writing {
	    	margin-right: auto;
    		padding-bottom: 6%;
    		border-radius: 4px;
			max-height: 100%;
    	}

    	img.secRight, img.secLeft {
    		float:none;
    		border-radius: 4px 4px 0px 0px;;
    		max-width: 100%;
    	}

    	.textRight {
    		margin-left: 0;
    	}

    	.textLeft {
    		margin-right: 0;
    	}

    	.textRight h2 {
    		padding-left: 0px;
		    padding-right: 0px;
		    margin-left: 0px;
    	}

    	.textRight p {
    		padding-left: 10px;
    		padding-right: 10px;
    		text-align: justify;
    	}

    	.textLeft h2 {
    		padding-left: 0px;
		    padding-right: 0px;
		    margin-right: 0px;
    	}

    	.textLeft p {
    		text-align: justify;
    		padding-left: 10px;
		    padding-right: 10px;
    	}
	
		div.capR {
			float: none;
			display: block;
			margin: 1em auto;
			max-width: 75%
		}
}
